[Desktop Entry]
Name=QQMusic
Exec=/opt/Tencent/QQMusic/qqmusic-1.1.5.AppImage %U --no-sandbox
Terminal=false
Type=Application
Icon=/opt/Tencent/QQMusic/icons/256x256/apps/qqmusic.png
StartupWMClass=qqmusic
Comment=Tencent QQMusic
Categories=AudioVideo;Audio;Player;
MimeType=application/x-ogg;application/ogg;audio/x-vorbis+ogg;audio/vorbis;audio/x-vorbis;audio/x-scpls;audio/x-mp3;audio/x-mpeg;audio/mpeg;audio/x-mpegurl;audio/x-flac;audio/mp4;audio/x-it;audio/x-mod;audio/x-s3m;audio/x-stm;audio/x-xm;
Keywords=Player;Audio;Song;MP3;CD;Podcast;MTP;iPod;Playlist;Last.fm;UPnP;DLNA;Radio;
