exec-once = sh ~/.config/hypr/monitors.sh
exec-once = waybar
exec-once = fcitx5
exec-once = hyprpaper

# 注释掉
# bind = $mainMod, J, togglesplit, # dwindle

# Super + hjkl：切换焦点窗口
bind = $mainMod, H, movefocus, l
bind = $mainMod, L, movefocus, r
bind = $mainMod, J, movefocus, u
bind = $mainMod, K, movefocus, d

# 传统的 terminal
bind = CTRLALT, T, exec, $terminal
# Super + F：全屏化当前窗口
bind = $mainMod, F, fullscreen, 0,
# Super + Shift + C：重新加载Hypxrland
bind = $mainMod SHIFT, C, exec, hyprctl reload
# Super + Shift + Space：将当前窗口切换到浮动模式
# bind=SUPERSHIFT, SPACE, togglefloating

# https://zhuanlan.zhihu.com/p/689782048
